<ul class="navbar-nav bg-gradient-danger sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="Index">
        <div class="sidebar-brand-icon">
            <i class="fas fa-podcast"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Access Management</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">


    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="Index">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Utilities
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link" href="register.html">
            <i class="fas fa-fw fa-folder"></i>
            <span>Register</span>
        </a>
    </li>

    <!-- Nav Item - Charts -->
    @*<li class="nav-item">
        <a class="nav-link" href="charts.html">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Role Management</span>
        </a>
    </li>*@

    <!-- Nav Item - API Management -->
    <li class="nav-item">
        <a class="nav-link" asp-controller="Home" asp-action="ApiEndpoint">
            <i class="fas fa-fw fa-tape"></i>
            <span>API Management</span>
        </a>
    </li>

    <!-- Nav Item - Tables -->
    <li class="nav-item">
        <a class="nav-link" href="tables.html">
            <i class="fas fa-fw fa-table"></i>
            <span>Access Control</span>
        </a>
    </li>
</ul>